urrently, IoT is a matter of partnerships and even Microsoft does this with a vengeance. Of course, the company has been doing this for decades. In our case, it has partnered with MediaTek and Avnet to deliver the Avnet Azure Sphere MT3620 development kit (Fig. 1). The module in the kit is based on MediaTek’s MT3620 SoC.
