A host of vendors provide end-to-end IoT solutions, from giants like Google to Amazon to open-source platforms. Of course, Microsoft is up there, too, and ties its IoT offerings to its Azure cloud solution. Microsoft does make some hardware, but it usually wants to sell software and services to companies that develop hardware to work with their solutions. The advantage for Microsoft is that IoT devices garner income for the life of the device, since IoT devices these days are locked into one cloud platform.
